{% extends "::base.html.twig" %}

{% block stylesheets %}
	<link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/innovarecore/css/main.css') }}">
{% endblock %}

{% block body %}
	<header class="navbar navbar-default">
		<a href="#" class="navbar-brand">Innovare - Laboratori in Rete</a>
		<div class="container">
			<ul class="navbar-nav nav">
				<li><a href="#">{{ 'home' | trans }}</a></li>
				<li><a href="#">{{ 'macroarea' | trans }}</a></li>
			</ul>
		</div>
	</header>

	{% block sidebar %}{% endblock %}

	<section>
		{% block section %}{% endblock %}
	</section>

	<footer>
		<p>&copy;{{ 'now' | date('Y') }} Innovare - Laboratori in Rete</p>
	</footer>
{% endblock %}
